@font-face { font-family: '.DS_Store'; src: url('Graphics/Fonts/.DS_Store'); }
@font-face { font-family: '.keep'; src: url('Graphics/Fonts/.keep'); }
@font-face { font-family: 'Fonstars-4Bo0p'; src: url('Graphics/Fonts/Fonstars-4Bo0p.otf'); }
@font-face { font-family: 'Fonstars'; src: url('Graphics/Fonts/Fonstars.woff'); }